// colors
$ui-black: #222222 !default;
$ui-blue: #5DC3EB !default;
$results-background-grey: #F1F1F1 !default;
$no-content-black: #8F8F8F !default;
$no-content-text-black: #4E4E4E !default;

// fonts
$ui-font-stack: "museo-sans", sans-serif !default;