.homepage {
    height: 90vh;
    background-color: $no-content-black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;

    h3 {
        font-size: 3rem;
        color: $no-content-text-black;
        font-weight: 500;
        text-align: center;
        padding-bottom: 40px;

        @media screen and (max-width: 768px) {
            font-size: 1.5rem;
            padding-bottom: 20px;
            padding-top: 50px;
            align-items: flex-start;
            align-content: flex-start;
        }
    }

    svg {
        max-width: 200px;
    }
}

.homepage__item {
    width: 100%;
}