.media-button {
    color: $ui-blue;
    height: 40px;
    width: 40px;
    font-size: 1rem;
    border: 3px solid $ui-blue;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
        color: white;
        background-color: $ui-blue;
    }

    &:disabled {
        color: $results-background-grey;
        border-color: $results-background-grey;
        opacity: 0.5;
    }
}

.main-button {
    height: 60px;
    width: 60px;
}