.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $ui-font-stack;

    button {
        color: $ui-blue;
    }

    button:disabled {
        color: grey;
    }
}