.player__volume {
    width: 12.5%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;


    @media screen and (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }
}

