.search-result__item {
    img {
        width: 100px;
        height: 100px;
    }

    width: 33%;
    display: flex;
    overflow: hidden;
    margin-bottom: 40px;
}

.search-result__item-text {
    h3, h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    h3 {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 5px;
    }

    h4 {
        font-size: 0.85rem;
        color: gray;
    }

    a {
        font-family: $ui-font-stack;
        font-weight: 500;
        font-size: 0.85rem;
    }

    position: relative;
    max-height: 100px;
    padding-left: 10px;
    width: 60%;
}

.search__channel-link {
    position: absolute;
    bottom: 10%;
}