.search-results {
    @include background-styles($results-background-grey);

    h1 {
        font-weight: 700;
        font-size: 2.25rem;
    }

    padding-left: 7.5%;
    padding-right: 7.5%;
    min-height: 70vh;

    hr {
        margin-top: 25px;
        margin-bottom: 50px;
    }
}

.search-results__content {
    display: flex;
    flex-wrap: wrap;
}