.search-area {
    background-color: $ui-black;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 768px) {
        justify-content: center;
    }
}

.search-area__form {
    font-family: $ui-font-stack;
    font-weight: 500;
    font-size: 1.5rem;

    .search-area__input, .search-area__button {
        font-family: $ui-font-stack;
        font-weight: 300;
        font-size: 1.3rem;
        padding: 10px 20px 10px 20px;
    }
}

.search-area__button {
    background-color: $ui-blue;
    color: white;


    @media screen and (max-width: 768px) {
        max-width: 30%;
    }
}

.search-area__input {
    border: none;
    font-weight: 300;
    min-width: 700px;
    box-sizing: border-box;
    text-indent: 10px;
    border-radius: 0;

    // for removing chrome's placeholder text behavior
    &:focus::-webkit-input-placeholder {
        font-style: italic;
        color: transparent;
    }

    @media screen and (max-width: 768px) {
        min-width: 0;
        width: 70%;
        text-indent: 2.5px;
    }
}
